<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364758305705-7sahqghofi07ft0l2fontuknsoopvh1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364758305705-7sahqghofi07ft0l2fontuknsoopvh1q</string>
	<key>API_KEY</key>
	<string>AIzaSyBOiQhD4hSj8OzwoF66vYGc7u6BKrV0PGg</string>
	<key>GCM_SENDER_ID</key>
	<string>364758305705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-a96d8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-a96d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364758305705:ios:79f6d200619f88e7c9d2b8</string>
</dict>
</plist>